<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>

    <title>MinunKissa - kissat </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://raw.githubusercontent.com/jonnasorsa/MinunKissa/master/src/main/resources/templates/MinunKissaKuvake.png"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
            crossorigin="anonymous"
    />
    <style>
        body {
  background-color: PapayaWhip;
}

    </style>
</head>

<body>
<img src="https://raw.githubusercontent.com/jonnasorsa/MinunKissa/master/src/main/resources/templates/MinunKissa.png" width = "100%">
<div class="container-fluid pt-5 text-center">
            <h1>Rekisteröidyt kissat:</h1>

      <ul>
          <li th:each="cat:${cats}">
              <h2 th:text="${cat.name} ">cat</h2>
              <a th:text="'virallinen nimi:     ' +${cat.officialName}">Rekisteröity nimi</a><br>
              <a th:text="'kasvattaja:      '+ ${cat.breeder}">Kasvattaja</a><br>
              <a th:text="'rekisterinumero:     '+ ${cat.number}">Rekisterinumero</a><br>
              <a th:text="'syntymäpäivä:    ' + ${cat.dob}">Syntymäpäivä</a><br>
              <a th:text="'sukupuoli:   ' + ${cat.gender}">Sukupuoli</a><br>
              <a th:text="'sirunumero:  ' + ${cat.chip}">Mikrosirunumero</a><br>
              <a th:text="'EMS-koodi:   ' + ${cat.EMS}">EMS-koodi</a><br>
              <a th:text="'rotu:    ' + ${cat.breed}">Rotu</a><br>
              <a th:text="'väri:    ' + ${cat.color}">Väri</a><br>
              <a th:text="'isä: ' + ${cat.dad}">Isä</a><br>
              <a th:text="'emo: ' + ${cat.mum}">Emo</a><br>
              <a th:text="'omistaja:    ' + ${cat.owner}">Omistaja</a><br><br><br>

          </li><br><br>
      </ul>



            <form method="get" action ="/new-cat">
                <button class="btn btn-light btn-outline-dark">Lisää kissa </button>
            </form><br>

      <form method="get" action ="/edit-cat">
          <button class="btn btn-light btn-outline-dark">Muokkaa kissaa </button>
      </form><br>

      <form method="get" action ="/delete-cat">
          <button class="btn btn-light btn-outline-dark"> Poista kissa </button>
      </form>  <br>

        <form method="get" action ="/me">       
           <button class="btn btn-light btn-outline-dark">  Takaisin oletussivulle </button>
        </form> <br>

          <br>
          <br>       
            <p>©Jonna Sorsa     |       2022</p>
</div>
    </body>


    </html>
