<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


    <head>

        <title>Omat kissat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="shortcut icon"
      type="image/x-icon"
      href="MinunKissaKuvake.png"
    />
    </head>


    
    <body>
      <img src ="MinunKissa.png" width = "100%"> 
      
            <h1>Rekisteröidyt kissat:</h1>

      <ul>
          <li th:each="cat:${cats}">
              <a th:text="${cat.name} ">cat</a><br>
              <a th:text="'virallinen nimi:     ' +${cat.officialName}">Rekisteröity nimi</a><br>
              <a th:text="'kasvattaja:      '+ ${cat.breeder}">Kasvattaja</a><br>
              <a th:text="'rekisterinumero:     '+ ${cat.number}">Rekisterinumero</a><br>
              <a th:text="'syntymäpäivä:    ' + ${cat.dob}">Syntymäpäivä</a><br>
              <a th:text="'sukupuoli:   ' + ${cat.gender}">Sukupuoli</a><br>
              <a th:text="'sirunumero:  ' + ${cat.chip}">Mikrosirunumero</a><br>
              <a th:text="'EMS-koodi:   ' + ${cat.EMS}">EMS-koodi</a><br>
              <a th:text="'rotu:    ' + ${cat.breed}">Rotu</a><br>
              <a th:text="'väri:    ' + ${cat.color}">Väri</a><br>
              <a th:text="'isä: ' + ${cat.dad}">Isä</a><br>
              <a th:text="'emo: ' + ${cat.mum}">Emo</a><br>
              <a th:text="'omistaja:    ' + ${cat.owner}">Omistaja</a><br>

          </li><br><br>
      </ul>



            <form method="get" action ="/new-cat">
                <button>Lisää kissa </button>
            </form><br>

      <form method="get" action ="/edit-cat">
          <button>Muokkaa kissaa </button>
      </form><br>

      <form method="get" action ="/delete-cat">
          <button> Poista kissa </button>
      </form>  <br>

        <form method="get" action ="/me">       
           <button>  Takaisin omalle sivulle </button>
        </form> <br>
    <center>
          <br>
          <br>       
            <p>©Jonna Sorsa     |       2022</p>
    </center>
    </body>


    </html>
