<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


    <head>

        <title>Omat tiedot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="shortcut icon"
      type="image/x-icon"
      href="MinunKissaKuvake.png"
    />
  
    </head>

    <body>

      <img src ="MinunKissa.png" width = "100%"> 
    <center>
        <h1>Omat tiedot</h1>
          <br>
          <br>
          <form method="get" action ="/me">       
           <button>  Takaisin omalle sivulle </button>
        </form> 
          
          <form method="get" action ="/">       
           <button>  Kirjaudu ulos </button>
        </form> 
          <br><br>
          <form method="get" action ="/remove-confirm">
              <input type="checkbox" value="remove-account" required>vahvista poisto
           <button>  Poista käyttäjätili </button>
        </form> 
       
          
            <p>©Jonna Sorsa     |       2022</p>
    </center>
    </body>


    </html>
