<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oma sivu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="shortcut icon"
      type="image/x-icon"
      href="MinunKissaKuvake.png"
    />        
    </head>
    <body>
        <img src ="MinunKissa.png" width = "100%">
        <h1>Tervetuloa MinunKissaan!</h1>
        <div>
            <div>

                <form method="get" action ="/cats">
                    <button> Näytä omat kissat </button>
                </form>
                <br>
                <br>
                <h1>Omat tiedot</h1>
                <br>
                <ul>
                    <li th:each="user:${users}">
                <a th:text="'Etuimi: '+${user.firstName}">firstName</a>
                <a th:text="'Sukunimi: '+{$user.lastName}">lastName</a>
                <a th:text="'Kaupunki: '+{$user.town} ">town</a>
                <a th:text=" 'Sähköpostiosoite/käyttäjätunnus: ' +{user.userName}">userName</a>
                    </li><br><br>
                </ul>
            </div>
        </div>
                <br>

                <form method="get" action ="/logout">
                    <button>  Kirjaudu ulos </button>
                </form>

                <form method="get" action ="/delete-account">
                    <button>  Poista käyttäjätili </button>
                </form>
                <p>©Jonna Sorsa     |       2022</p>

    </body>
</html>
