<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oma sivu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="shortcut icon"
      type="image/x-icon"
      href="MinunKissaKuvake.png"
    />        
    </head>
    <body>
        <img src ="MinunKissa.png" width = "100%">
        <h1>Tervetuloa MinunKissaan!</h1>
        <h2>Olet kirjautunut onnistuneesti sisään.</h2>
        <p>MinunKissassa voit tutkia, muokata ja poistaa tietokannasta löytyviä kissoja.</p><br>
        <p>Vain rekisteröityneet käyttäjät voivat käyttää palvelua. Nautinnollisia kissahetkiä!</p><br>
        <div>
            <div>

                <form method="get" action ="/cats">
                    <button> Näytä järjestelmään rekisteröidyt kissat </button>
                </form>
                <br>
                <br>
                <br>


            </div>
        </div>
                <br>

                <form method="get" action ="/logout">
                    <button>  Kirjaudu ulos </button>
                </form><br>
        <p>Mikäli et ole tyytyväinen palveluun, voit poistaa käyttäjätietosi järjestelmästämme.</p><br>
                <form method="get" action ="/delete-account">
                    <button>  Poista käyttäjätili </button>
                </form>
                <p>©Jonna Sorsa     |       2022</p>

    </body>
</html>
